---
---

<h1>Inventario</h1>
<p>
  Aquí podrás crear, editar y vincular los productos de tu inventario a las
  publicaciones de tus canales de venta.
</p>
<style>
  h1 {
    color: #304b7f;
    font-family: Poppins;
    font-size: 22px;

    font-weight: 700;
  }
  p {
    color: #43475f;
    font-family: Poppins;
    font-size: 14px;

    font-weight: 400;
  }

  
</style>
